/* your styles go here! */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

.collapsible {
  background-color: lightgrey;
  color: black;
  cursor: pointer;
  padding: 18px;
  margin: 13px 0px 0px 0px;
  width: 100%;
  border: none;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  vertical-align: center;
}

.focusBox {
  background-color: lightgrey;
  color: black;
  padding: 18px;
  margin: 13px 0px 0px 0px;
  width: 100%;
  border: none;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
  outline: none;
  font-size: 15px;
  vertical-align: center;
}

.collapsible.active, .collapsible:hover {
  background-color: #999999;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
  border-radius: 10px 10px 0 0;
}

.collapsible.active:after {
  content: "\2212";
}

.dateContent {
  margin-top: -20px;
  border-top: 20px solid lightgrey;
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: lightgrey;
  border-radius: 0 0 10px 10px;
}